.card {
  width: 262px;
  max-width: 100%;
  height: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23414141FF' stroke-width='1' stroke-dasharray='10' stroke-dashoffset='14' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 20px;
  margin: 0 auto 50px;
} 
.wrap-img {
  cursor: pointer;
  width: 230px;
  max-width: 100%;
  padding: 5px;
}
.img {
  max-width: 100%;
}
.wrap-content {
  text-align: left;
  max-width: 100%;
}
.title {
  font-size: 20px;
  color: #414141;
  margin-bottom: 16px;
}
.content-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price {
  font-size: 24px;
  font-weight: 600;
  color: #414141;

}
.icon {
  cursor: pointer;
  background-color: #FFCC26;
  color: #FBFBFB;
}
.icon-active {
  color: #414141;
}

.card-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1185px;
  max-width: 100%;
  height: 531px;
}
.card-details .wrap-img {
  width: 448px;
  height: 448px;
  max-width: 100%;
}
.card-details .wrap-content {
  width: 601px;
}
.card-details .title,
.card-details .price {
  font-size: 64px;
}
.card-details .icon {
  width: 98px;
  height: 98px;
}
.card-details .zoom-icon {
  display: block;
  margin: 0 auto;
  width: 58px;
  height: 58px;
}

.card-favorite {
  width: 347px;
  max-width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.card-favorite .wrap-img {
  width: 108px;
  max-width: 100%;
  height: 108px;
  margin-right: 10px;
}
.card-favorite .wrap-content {
  width: 184px;
  max-width: 100%;
}